rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PERINGATAN: Ini mengizinkan siapa saja membaca dan menulis.
    // HANYA GUNAKAN UNTUK DEBUGGING.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}